# =========================
# Android / Java / Kotlin
# =========================

# Android Studio & IntelliJ
*.iml
.idea/
/.idea/caches/
/.idea/libraries/
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.gradle.properties
/.settings.gradle.kts
/build.gradle.kts

# Gradle
.gradle/
gradle/
gradle-wrapper.jar

# Build outputs
**/build/
*/build/
/captures/
/.externalNativeBuild/
/.cxx/
/obj/
/*.so

# Local config
local.properties
/local.properties

# Signing keys
*.jks
*.keystore

# Kotlin
*.kotlin_module

# Profiling
*.hprof

# macOS Finder
.DS_Store
\.kotlin/

# Python
__pycache__/
*.pyc
test.db
*.db
# Environment variables
.env
backend/.env
backend/.env
backend/.env
backend/main.py
/backend
*.py
