# Lokasi: ./backend/requirements.txt

fastapi
uvicorn[standard]
sqlalchemy
pydantic[email]
pydantic-settings
passlib[bcrypt]
python-jose[cryptography]
python-multipart
httpx # PENAMBAHAN BARU
structlog
transformers

# Task queue
celery
redis

# Untuk migrasi database
alembic

# Tambahkan driver database jika Anda tidak menggunakan SQLite
# Contoh untuk PostgreSQL:
# psycopg2-binary

