# Lokasi: ./backend/requirements.txt

fastapi
uvicorn[standard]
sqlalchemy
pydantic[email]
passlib[bcrypt]
python-jose[cryptography]
python-multipart
httpx # PENAMBAHAN BARU

# Untuk migrasi database
alembic

# Tambahkan driver database jika Anda tidak menggunakan SQLite
# Contoh untuk PostgreSQL:
# psycopg2-binary
