# Lokasi: ./backend/requirements.txt

fastapi>=0.110
uvicorn[standard]
sqlalchemy
pydantic[email]>=2.6
pydantic-settings>=2.0
passlib[bcrypt]
python-jose[cryptography]
python-multipart
httpx # PENAMBAHAN BARU
structlog
transformers

# Task queue
celery
redis

# Untuk migrasi database
alembic

# Tambahkan driver database jika Anda tidak menggunakan SQLite
# Contoh untuk PostgreSQL:
# psycopg2-binary

